.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	color: #fff;
	background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.logo {
	margin-right: 7px;
}

.title {
	margin-right: auto;
	font-size: 20px;
	font-weight: 700;
}

.projectTitle {
	margin: 0;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
}